/* Reset default margin and padding */
body, h1, h2, h3, p, label, button, input {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Apply some basic styling */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f4f8;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
 width: 100%;
}

.container {
  margin-top: 10%;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  
  width: 100%;
  text-align: center;
  /* height: 400px; */
}

h1 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #333;
}

.subject-container {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #ffffff;
}

.subject-header {
  font-weight: bold;
  margin-bottom: 5px;
  /* color: #333; */
  color: black;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-row {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.input-row label {
  margin-left: 5%;
  margin-right: 5%;
  font-weight: bold;
  /* color: #555; */
  color: black;

  width: 60px;
  font-size: 14px;
}

.input-row input[type="text"] {
  width: 60px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  flex: 1;
  font-size: 14px;
}

@media screen and (max-width: 500px) {
  .input-row {
    /* flex-direction: column; */
    align-items: center;
  }

  .input-row label {
    margin-bottom: 3px;
  }

  .container {
    padding: 10px;
  }
}

button {
  margin: 4px;
  padding: 8px 16px;
  background-color: #000000;
  color: rgb(255, 255, 255);
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 2px;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #ffffff;
  color: black;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.modal p {
  margin-bottom: 10px;
  color: #333;
  font-size: 14px;
}

.modal button {
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  font-size: 14px;
}

.modal button:hover {
  background-color: #ffffff;
  color: black;
  border: 1px solid black;
  border-radius: 5px;

}
.animate__bounceInLeft {
  animation-name: animate__flipInX;
  animation-duration: 0.1s; /* Adjust the duration as needed */
}
.remove-button {
  
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 5px;
  cursor: pointer;
  font-size: 8px;
  transition: background-color 0.3s ease-in-out;
 
}

.remove-button:hover {
  background-color: #ffffff;
  color: red;
  border: 1px solid red;
}